@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Orbitron&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #59C2D9;
    color: black;
    font-family: 'Caesar Dressing', cursive;
    text-align: center;
}

p{
    font-family: 'Orbitron', sans-serif;
}

/* ================================================= NAVIGATION ================================================= */
#navigation {
    line-height: 100px;
    font-size:175%;
}

.list-items {
    display:flex;
    justify-content:center;
}

.list-items li {
    margin: 0 20px;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: inherit;
}

#navigation .active {
    border-bottom: 3px solid black;
}

a:hover, #navigation a:hover {
    font-weight: bolder;
    color: red;
    border-bottom: none;
}

/* ================================================= INTRO HOME PAGE ================================================= */

#intro {
    height: 80vh;
    width: 100%;
    background-color: inherit;
}

#intro-text {
    background-color: #CACBA7;
    width: 55vw;
    border-radius: 50px;
    margin: 0 auto;
    padding-bottom: 50px;
}

#intro-text h1 {
    padding: 40px 25px;
}

#intro-text p, #begin {
    background-color: #D7D8BB;
    border-radius: 50px;
    margin: 0 50px 50px;
    padding: 25px;
    text-align: justify;
    line-height: 150%;
}

#begin {
    font-size: 225%;
    padding: 10px 50px;
    margin: 0 auto;
}

/* ================================================= FOOTER ================================================= */

footer {
    width: 55vw;
    font-size: 110%;
    line-height: 50px;
    background-color: #CACBA7;
    margin: 0 auto;
    border-radius: 50px;
}

#footer-ul {
    width: 33%;
    float: left;
    text-align: center;
}

.list-items-footer li {
    float: left;
    list-style-type: none;
    margin-left: 10px;
}

#feedback {
    width: 33%;
    float: right;
    text-align: right;
}

#feedback a {
    margin-right: 15px;
}

#copyrights{
    width: 33%;
    font-size: 50%;
    margin: 0 auto;
    text-align: center;
}

.fa {
    font-size: 150%;
    width: 20px;
}

.fa-facebook:hover {
    color: #3B5998;
}

.fa-instagram:hover {
    color: #b73bff;
}

.fa-github:hover{
    background-color: black;
    color: white;
    border-radius: 50%;
}

/* ================================================= MEDIA QUERIES ================================================= */

/* ======================================= SCREEN SIZE 1024px TO 768px (laptop to tablet) ======================================= */
@media screen and (max-width:1024px){
    
    #intro-text, footer {
        width: 70vw;
    }

}

@media screen and (max-width:768px){

    #intro, footer {
        height: auto;
        margin-bottom: 50px;
    }

}

/* ======================================= SCREEN SIZE 555px TO 375px (smaller tablet to mobile M) ======================================= */
@media screen and (max-width:555px) {
    body{
        font-size: 95%;
    }

    #intro-text, footer {
        width: 80vw;
    }

    #intro-text p {
        margin: 0 25px 50px;
    }
}

@media screen and (max-width:444px) {

    body {
        font-size: 85%;
    }
    #navigation {
        line-height: 75px;
    }

    #intro-text, footer {
        width: 90vw;
    }

    #intro-text{
        padding-bottom: 25px;
    }

    #intro-text h1 {
        padding: 25px 25px;
    }

    #intro-text p {
        margin: 0 25px 25px;
    }
}